@model LodgeDogDB.Models.Bookings

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bookings</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TimeStamp" />
            <div class="form-group">
                <label asp-for="Source" class="control-label"></label>
                <input asp-for="Source" class="form-control" />
                <span asp-validation-for="Source" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Primaryguestname" class="control-label"></label>
                <input asp-for="Primaryguestname" class="form-control" />
                <span asp-validation-for="Primaryguestname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numberofoccupants" class="control-label"></label>
                <input asp-for="Numberofoccupants" class="form-control" />
                <span asp-validation-for="Numberofoccupants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Property" class="control-label"></label>
                <input asp-for="Property" class="form-control" />
                <span asp-validation-for="Property" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unittype" class="control-label"></label>
                <input asp-for="Unittype" class="form-control" />
                <span asp-validation-for="Unittype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datebookingmade" class="control-label"></label>
                <input asp-for="Datebookingmade" class="form-control" />
                <span asp-validation-for="Datebookingmade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Checkin" class="control-label"></label>
                <input asp-for="Checkin" class="form-control" />
                <span asp-validation-for="Checkin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Checkout" class="control-label"></label>
                <input asp-for="Checkout" class="form-control" />
                <span asp-validation-for="Checkout" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Number" />
            <div class="form-group">
                <label asp-for="Baserateofpay" class="control-label"></label>
                <input asp-for="Baserateofpay" class="form-control" />
                <span asp-validation-for="Baserateofpay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rci" class="control-label"></label>
                <input asp-for="Rci" class="form-control" />
                <span asp-validation-for="Rci" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tri" class="control-label"></label>
                <input asp-for="Tri" class="form-control" />
                <span asp-validation-for="Tri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pointsused" class="control-label"></label>
                <input asp-for="Pointsused" class="form-control" />
                <span asp-validation-for="Pointsused" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservationpassesneeded" class="control-label"></label>
                <input asp-for="Reservationpassesneeded" class="form-control" />
                <span asp-validation-for="Reservationpassesneeded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservationpassespurchased" class="control-label"></label>
                <input asp-for="Reservationpassespurchased" class="form-control" />
                <span asp-validation-for="Reservationpassespurchased" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guestpassesadded" class="control-label"></label>
                <input asp-for="Guestpassesadded" class="form-control" />
                <span asp-validation-for="Guestpassesadded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guestpassespurchased" class="control-label"></label>
                <input asp-for="Guestpassespurchased" class="form-control" />
                <span asp-validation-for="Guestpassespurchased" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wyndhamconfirmationnumber" class="control-label"></label>
                <input asp-for="Wyndhamconfirmationnumber" class="form-control" />
                <span asp-validation-for="Wyndhamconfirmationnumber" class="text-danger"></span>
            </div>
            @{
                var stamp = Model.TimeStamp.ToString("s");
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" asp-route-id="@stamp" asp-route-num="@Model.Number" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@Model.Number">Back to List</a>
</div>

