@{
    ViewData["Title"] = "Index";
}

<p>
    <a href="Owners">List All Owners</a><br />
</p>

<form asp-controller="Owners" asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find owner by name: <input type="text" name="SearchString" />
            <input type="submit" value="Search" />
        </p>
    </div>
</form>

<form asp-controller="Bookings" asp-action="Search" method="get">
    <div>
        <p>
            Find booking by guest name: <input type="text" name="SearchString" /> (Optional) Owner Number:
            <label name="ownerNum"></label>
            @Html.DropDownList("Number", (SelectList)ViewBag.ownerNum, "All", new { })
            <input type="submit" value="Search" />
        </p>
    </div>
</form>

<form asp-controller="ClientFinder" asp-action="Index" method="get">
    <p>
        Actual Points: <input type="number" name="actual" step="1000">
        <input type="submit" value="Find Clients" />
    </p>
</form>
<a href="ClientFinder">Client Finder</a>

